@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$red : red;
$green : green;
$blue : blue;
$orange : orange;
$purple : purple;
$black : black;
$lime : lime;
$white : white;
$skyblue : skyblue;
$pink : pink;
$none : rgb(255, 0, 221);